/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .6s ease both;
  -moz-animation: scaleUpFrom .6s ease both;
  animation: scaleUpFrom .6s ease both;
}
/**
 * File Name: style-switcher.css
 */

.style-switcher {
  width: 270px;
  position: fixed;
  left: 0;
  top: 90px;
  z-index: 1;
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
}

.style-switcher.show {
  -webkit-transform: translateX(0);
      transform: translateX(0);
}

.style-switcher ul {
  list-style: outside none;
}

/* Style Switcher Icon */
.ss-icon {
  color: #fff;
  background: #222;
  font-size: 25px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  position: absolute;
  right: -55px;
  border-radius: 0 4px 4px 0;
}

.ss-icon:hover, .ss-icon:focus {
  color: #fff;
}

.ss-icon.rotating i {
    -webkit-animation: ssIconRotate 5s linear infinite;
      -ms-animation: ssIconRotate 5s linear infinite;
        animation: ssIconRotate 5s linear infinite;
}

@-webkit-keyframes ssIconRotate {
    from{
        -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}

@-ms-keyframes ssIconRotate {
    from{
        -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}

@keyframes ssIconRotate {
    from{
        -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}


/* Style Switcher Title */
.style-switcher h3 {
    height: 55px;
    line-height: 55px;
    padding: 0 20px;
    font-size: 18px;
    text-align: center;
    word-spacing: 0px;
    font-weight: 400;
    color: #fff;
    background: #333;
    letter-spacing: 1px;
}


/* Style Switcher Content */
.ss-content {
  background: #fff;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.03);
  /*box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);*/
  padding: 30px 25px;
}

.ss-content .intro {
  margin-bottom: 15px;
}

.ss-content p {
  font-size: 12px;
  line-height: 18px;
}

.ss-content h5 {
  font-size: 15px;
  padding-bottom: 15px;
}

/* Style Switcher Content Box */
.ss-content-box {
  margin-bottom: 30px;
}

.ss-content-box:last-child {
  margin-bottom: 0;
}

/* Colors Skins */
.colors-skins {
  font-size: 0;
  margin-bottom: -5px; /* reversing "li" margin bottom */
}

.colors-skins li {
  margin: 0 5px 5px 0;
  display: inline-block;
  vertical-align: top;
}

.colors-skins li button {
  width: 39px;
  height: 39px;
  background: #eee;
  border-radius: 9999px;
  border: none;
  outline: none;
  display: block;
  position: relative;
  cursor: pointer;
}

.colors-skins li button:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 9999px;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.15s;
      transition: all 0.15s;
}

.colors-skins li button.active:after {
  width: 12px;
/*  content: "\f00c";
  font-family: "fontAwesome";
  font-size: 20px;
  color: #fff;
*/  height: 12px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.55);
}

.colors-skins li button:hover:after {
  opacity: 1;
}

/* Deep Purple */
.colors-skins li button.deep-purple {
  background: #673ab7;
}

/* pink */
.colors-skins li button.pink {
  background: #e91e63;
}

/* Green */
.colors-skins li button.green {
  background: #4caf50;
}

/* Blue */
.colors-skins li button.blue {
  background: #1183de;
}

/* Deep Orange */
.colors-skins li button.deep-orange {
  background: #ed4510;
}

/* Red */
.colors-skins li button.red {
  background: #f44336;
}

/* Blue Grey */
.colors-skins li button.blue-grey {
  background: #607d8b;
}

/* Dark Brown */
.colors-skins li button.dark-brown {
  background: #9b6954;
}

/* Dark Yellow */
.colors-skins li button.dark-yellow {
  background: #cc970a;
}

/* White Green */
.colors-skins li button.white-green {
  background: #1cb715;
}

/* Switch */
.switch {
  margin: -6px 0 11px;
  text-align: center;
  font-size: 0;
}

.switch:last-child {
  margin-bottom: 0;
}

.switch span {
  font-size: 10px;
  line-height: 13px;
  position: relative;
  vertical-align: middle;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    width: 38.5%;
  -webkit-transition: all 0.15s;
      transition: all 0.15s;
}

.switch span:first-child,
.switch span:last-child {
  -webkit-transition: all 0s;
      transition: all 0s;
}

.switch span:first-child {
  padding-right: 8px;
  text-align: right;
}

.switch span:last-child {
  padding-left: 8px;
  text-align: left;
}

.switch span.active {
  color: #222;
  font-weight: 600;
}

/* Switch Button */
.switch-button {
  width: 45px !important;
  height: 24px;
  border: 1px solid #bbb;
  border-radius: 9999px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.switch-button:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 18px;
  height: 18px;
  background: #222;
  border-radius: 9999px;
  -webkit-transition: all 0.15s;
      transition: all 0.15s;
}

.switch-button.active:after {
  left: 23px;
  background: #f17663;
}

/* Header Top Content Option */
.header-top-content.hide {
  display: none;
}

/* Nav Option */
.logo-and-nav.hide {
  display: none;
}

/* Demos Preview */
.demos-preview {
  font-size: 0;
}

.demos-preview li {
  width: 50%;
  display: inline-block;
  padding: 0 3px 3px 0;
  vertical-align: top;
}

.demos-preview li:nth-child(even) {
  padding-right: 0;
}

.demos-preview li a {
  background: #f5f5f5;
  color: #888;
  padding: 5px 10px;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
    border-radius: 4px;
}

.demos-preview li a:hover {
  color: #222;
  background: #e1e1e1;
}

.demos-preview li a:hover + img {
  opacity: 1;
  visibility: visible;
  left: 275px;
}

.demos-preview li img {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 60px;
  left: 295px;
  padding: 4px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 370px;
  -webkit-transition: all 0.3s;
      transition: all 0.3s;
}



/* Responsive case */
@media (max-height: 720px) {

  .style-switcher {
    width: 288px;
  }

  .ss-content {
      overflow-y: scroll;
      height: 373px;  
  }

  .demos-preview li img { 
    left: 313px;
  }

  .demos-preview li a:hover + img {
    left: 293px;
  }

}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .6s ease both;
  -moz-animation: scaleUpTo .6s ease both;
  animation: scaleUpTo .6s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}