<h3>If any issues occur during the software update, please download again at the following link:</h3>
<a href="https://gitlab.com/mrcyclo/release_env_switcher/-/blob/main/public/publish.zip?ref_type=heads">publish.zip</a>

<p>&nbsp</p>

<h3>3.1.1.1</h3>
<ul>
	<li>Handle connection close response.</li>
    <li>Skip decrypt upgrade connection.</li>
	<li>Add some bugs to fix later.</li>
</ul>
